<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="public/_css/style.css">
    <meta charset="UTF-8">
    <link rel="manifest" href="public/manifest.json">
    <link rel="icon" href="public/_img/icon512_rounded.png" type="image/png">
    <link rel="apple-touch-icon" href="public/_img/icon512_rounded.png" type="image/png">
    <link rel="shortcut icon" href="public/_img/icon512_rounded.png" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Offline Page</title>
</head>
<body>
    <h1>Offline</h1>
</body>
</html>